<div class="post">
    <div class="post-contents">
            <div class="post-image-container">
              <img src={{imageSrc}}>
            </div>
            <div class="post-text-container">
            <div href="#" class="post-text">{{imageText}}</div>
            <span class="post-info-containter">
            <span href="#" class="post-username">{{username}}</span> <button type="button" id="like-button" class="like-button">Likes: {{likes}}</button> <button type="button" id="dislike-button" class="dislike-button">Dislikes: {{dislikes}}</button><span class="post-date">{{date}}</span>
            </div>
    </div>
    </div>
</div>
