
        <div class="post">
          <div class="post-contents">
            <div class="post-image-container">
              <img src={{imageSrc}}>
            </div>
            <div class="post-text-container">
              <div href="#" class="post-text">{{imageText}}</div>
              <div class="post-info-containter">
                <a href="#" class="post-username">{{username}}</a> <button type="button" id="like-button" class="action-button">Likes: {{likes}}</button> <button type="button" id="dislike button" class="action-button">Dislikes: {{dislikes}}</button><span class="post-date">{{date}}</span>
              </div>
            </div>
          </div>
        </div>
